.home-container {
  background-color: $brand-primary;

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__intro {
    h1 {
      margin-bottom: 0;
    }

    h2 {
      color: $white;
      margin-top: 0;
    }

    span {
      display: block;
    }
  }
}

