.home-container {
  display: flex;
  flex-direction: column;
  background-color: $brand-primary;
  min-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;

  &__intro {
    h1 {
      margin-bottom: 0;
    }

    h2 {
      color: $white;
      margin-top: 0;
    }

    span {
      display: block;
    }
  }
}

