.home-container {
  background-color: $brand-primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  @media (min-width: $screen-md) {
    padding: 0 30px;
  }

  &__intro {
    h1 {
      margin-bottom: 0;
      line-height: 1em;
    }

    h2 {
      color: $white;
      margin: 0;
      line-height: 1em;
    }

    span {
      display: block;
    }
  }

  .contact {
    position: relative;
    margin-top: auto;
    margin-bottom: 0;
    padding-left: 40px;
    @include font-size(0.85);

    @media (min-width: $screen-md) {
      padding-left: 50px;
      @include font-size(1);
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      height: 70px;
      width: 100px;
      background-image: url('../images/icons/semicircular-right-arrow.svg');
      background-size: 50px 70px;
      background-repeat: no-repeat;

      @media (min-width: $screen-md) {
        background-size: 60px 80px;
      }
    }
  }
}
