<footer>
    
  <div class="row">
    <!-- Links Section -->
    <div class="small-12 medium-3 column">
      <h5>Quick Links</h5>
      <ul class="quick-links">
        <!-- <li>Freelance Work</li> -->
        <li><a class="page-link" href="/">Posts</a></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <!-- About Section -->
    <div class="small-12 medium-5 column">
      <div class="row">
        <div class="small-12 column">
          <h5>About</h5>
        </div>
        <div class="small-12 column">
          <p class="text">{{ site.description }}</p>
        </div>
      </div>
    </div>

    <!-- Social Section -->
    <div class="small-12 medium-4 column">
      <h5>Connect</h5>

      <ul class="social-icons">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <i class="fa fa-github-alt grow"></i>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <i class="fa fa-twitter grow"></i>
          </a>
        </li>
        {% endif %}

        {% if site.codepen_username %}
        <li>
          <a href="http://codepen.io/{{ site.codepen_username }}" target="_blank">
            <i class="fa fa-codepen grow"></i>
          </a>
        </li>
        {% endif %}

        {% if site.instagram_username %}
        <li>
          <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
            <i class="fa fa-instagram grow"></i>
          </a>
        </li>
        {% endif %}

        {% if site.stackoverflow_username %}
        <li>
          <a href="http://stackoverflow.com/users/3276321/{{ site.stackoverflow_username }}" target="_blank">
            <i class="fa fa-stack-overflow grow"></i>
          </a>
        </li>
        {% endif %}

        {% if site.linkedin_username %}
        <li>
          <a href="https://uk.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
            <i class="fa fa-linkedin grow"></i>
          </a>
        </li>
        {% endif %}
      </ul>

    </div>

  </div>
  
</footer>