<header class="nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <a class="site-title" href="{{ site.baseurl }}/"><img class="logo" src="/assets/images/logo.png"></a>
        <!-- <a class="site-title name" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
      </div>
      <div class="col-xs-8 text-right">
        <a class="page-link" href="/">Posts</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</header>