.site-header {
  background-color: $primary-brand;
  padding: 10px 0;

  .logo {
    height: 32px;
  }

  .site-nav {
    display: inline;
    float: right;
    a {
      color: $blue;
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}



.intro-background {
  background: url(../images/mountain-road.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
  width: 100%;

  @media screen and (max-width: $mobile) {
    background: none;
    background-color: red;
  }
}

