/**
 * Logo
 */

.logo {
    position: relative;

    img {
        height: 32px;
        margin-right: 10px
    }
}

/**
 * Introduction
 */

.intro-background {
    min-height: 400px;
    width: 100%;
    background: url(/images/header-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro-text {
    padding-top: 70px;
    text-align: center;

    h1,h2,h3,h4,h5,h6,p {
        color: $white;
        text-align: center;
    }
    h1 {
        font-size: 40px;
        margin-top: 20px;
    }
    p {
        margin-top: 20px;
    }
}

.intro-logo {
    height: 40px;
}

/**
 * Site header
 */
.site-header {
    background: $brand-color;
    min-height: 56px;
    z-index: 2;
    // Positioning context for the mobile navigation icon
    position: fixed;
    width: 100%;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: #FFFFFF;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #FFF;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    background: $brand-color;
    padding: $spacing-unit 0;
    h1,h2,h3,h4,h5,h6,p,ul,li,a {
        color: $secondary-color;
        text-align: left;
    }
    p {
        color: $white;
        font-size: 12px;
    }
    a {
        color: #FFFFFF;
        font-size: 12px;
    }
    a:hover {
        text-decoration: underline;
    }
    ul {
        margin: 0;
        font-size: 12px;
    }
    li {
        list-style: none;
        font-size: 12px;
    }
    ul.social-media-list {
        li {
            display: inline-block;
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

//- Sub Footer
#sub-footer {
    background: #2A3A4C;
    width: 100%;
    text-align: center;
    p {
        padding: 10px 0;
        margin: 0;
        font-size: 10px;
        color: #7D7D7D;
    }
}


/**
 * Page content
 */
.page-content {
    padding: 76px 0 30px 0;
}

.blog-list {
    padding: 30px 0;
}

.page-heading {
    font-size: 20px;
}

.post {
    margin-bottom: 20px;
    background: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 0;
        background: #ffffff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: right;
    display: block;
    font-size: 18px;
    font-weight: 300;
}

.post-link {
    display: block;
    font-size: 18px;
    color: $title-color;
}
a.post-link:visited {
    color: $title-color;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Buttons
 */

.button {
    background-color: $secondary-color;
    transition: background-color 0.5s ease;
    color: $white;
    padding: 10px 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

.button:hover {
    text-decoration: none;
    background-color: #11AB91;
}

a.button:visited {
    color: $white;
}

/**
 * Pagination
 */

.pagination {
    text-align: center;
}

/**
 * Modifiers
 */

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right }

img.portfolio {
    height: 75px;
    width: 75px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border: 2px solid #3E485C;
}