@charset "utf-8";

// Media Query Sizes
$mobile: 320px;
$tablet: 768px;

// Brand Colours
$primary-brand:       #2D3740;
$primary-brand-dark:  #242D34;
// Primary Colours
$white:   #ffffff;
$black:   #000000;
$blue:    #50B9CE;
$grey:    #585858;

// Fonts
$open-sans:   'Open Sans', sans-serif;
$baskerville: 'Libre Baskerville', serif;