$icon-fonts: (
  null: 1.6,
  $screen-md: 4
);

.icons-list {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  margin-left: 30px;

  li {
    display: inline-block;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      color: $black;
      @include responsive-font-sizes($icon-fonts);
    }
  }
}
