---
layout: default
---
<div class="page-content">
  <div class="wrapper">
    
    <h1>Contact Me</h1>
    <p>If you would like to work together on an exciting new project then please get in touch via the form below.</p>

    <form id="contact" accept-charset="UTF-8" action="https://formkeep.com/f/13d6467a8f2b" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="email" name="email" placeholder="Your Email">
      <input type="text" name="name" placeholder="Your Name">
      <input type="url" name="url" placeholder="Your Website">
      <textarea rows="4" cols="50" placeholder="Your Message"></textarea>
      <a class="button" href="javascript:{}" onclick="document.getElementById('contact').submit();">Submit</a>
    </form>

  </div>
</div>