---
layout: default
---
{% if page.image.hero %}
  <div class="post-hero" style="background-image: url(/images/posts/{{page.image.hero}})"></div>
{% endif %}

<div class="row">
  <div class="small-12 column">

    <div class="page-content">

      <div class="post">

        <header class="post-header">
          <span class="post-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
          <h1 class="post-title">{{ page.title }}</h1>
        </header>

        <article class="post-content">
          {{ content }}
        </article>

      </div>

      {{% if page.comments %}}
        <div class="comments">
          <div id="disqus_thread"></div>
          <!-- Disqus comments section -->
          <script>
              (function() {
                var d = document, s = d.createElement('script');
                s.src = '//adammorgansblog.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      {{% endif %}}

    </div>

  </div>
</div>