h1,h2,h3,h4,h5,h6 {
  color: $primary-brand;
  font-weight: 900;
  text-transform: uppercase;
  font-family: $primary-font;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  color: $grey;
  font-family: $secondary-font;
}

a {
  color: $blue;
}

code {
  border: none;
  background-color: #f5f2f0;
}

pre[class*="language-"] {
  margin: .5em 0 1em;
}